@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

@font-face {
    font-family: 'GothamPro';
    src: url('fonts/GothamPro-Bold.woff') format('woff');
    src: url('fonts/GothamPro-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}   

@font-face {
    font-family: 'GothamPro';
    src: url('fonts/GothamPro-Light.woff') format('woff');
    src: url('fonts/GothamPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}   


body {
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;

}


li {
    list-style-type: none;
}



.wrapper {
    width: 100%;
    min-width: 1100px;
}

.container {
    width: 940px;
    margin: 0 auto;

}


.banner {
    background-color: #27273e;
    text-align: center;
}

.banner__img {
    height: 359px;
}

.aside {
    width: 130px;
    display: inline-block;
    vertical-align: top;
   
}

.main {
    width: 800px;
    display: inline-block;
   
}

.features__list {
    display: inline-block;
    width: 194px;
    margin-left: 10px;
   
}

.news__text {
    width: 400px;
}

.nav__icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #27273e;
    margin-right: 20px;
}

.features-icon {
    width: 36px;    
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    background: #27273e;

} 

.features__icon--flower {
    background: url(picture/flower.png) no-repeat;
   
}

.features__icon--star {
    background: url(picture/mark-as-favorite-star.png) no-repeat; 
}

.features__icon--paint {
    background: url(picture/painter-palette.png) no-repeat; 
}



.news__avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;

    
}

.news__avatar-pic {
    width: 100%;
    height: 100%;
    display: block;
}



.pagination {
    display: inline;
}

.pagination_pages-item {
    display: inline;
 
}

.pagination__controls {
    display: inline-block;
    text-align: center;
    }



.footer {
    width: 100%;
    background-color: #27273e; 
    color: #ffffff;
   
    }

.footer__container {
    position: relative;
    height: 77px;
}

.footer-text {
    position: absolute;
    width: 264px;
    left: 0;
}

.footer__logo {
  
   margin-left: 400px;
   margin-top: 14px;
   margin-bottom: 12px;
}

.footer__socials {
    position: absolute;
    width: 168px;
    right: 0;
    
}

 

.socials__item {
    display: inline;
}

/*





.company-contacts {
    width: 198px;
    height: 38px;
    float: right;
  
}

.company-contacts__telephone {
    width: 198px;
    height: 18px;

}

.company-contacts__schedule {
    width: 114px;
    height: 14px;

}

.container {
    height: 1928px;
    
}

.container-banner {
    height: 359px;

}

.container-main {
    width: 1100px;
    height: 1432px;
 
    border: 0.5px solid red;

}

.side-bar {
    width: 175px;
    height: 200px;
    float: left;
    background-color: blueviolet;
    
}

.text-content {
    width: 910px;
    height: 1400px;
    float: right;
    background-color: blueviolet;
}



.pagination__pages {

}






*/