html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: white;
    line-height: 1.42;
    margin: 0;
    font-family: 'Roboto', Helvetica, sans-serif;
}

.wrapper {
    min-height: 100%;
    min-width: 1165px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.maincontent {
    flex: 1;
}

.container {
    margin: 0 auto;
    width: 1100px;
    display: flex;
}


.title {
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 49px;
    line-height: 38px;
}


ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}