.content__item {
    display: flex;
    border-bottom: 0.5px solid #656464;
    margin-bottom: 30px;
}

.content__item:last-child {
    border-bottom: 0.5px solid white;
    margin-bottom: 30px;
}

.content__description {
    width: 70%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #656464;
    line-height: 21px;
}


.content__avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
   margin-right: 20px;
}

.content__avatar-pic {
    width: 100%;
    height: 100%;
    display: block;
}

.content__date {
    color: #221f1f;
    font-size: 18px;
    margin-bottom: 10px;
}

.content__title {
    font-weight: 700;
}

.content__text {
    line-height: 30px;
}

