.discount {
    margin-bottom: 50px;
    width: 100%;
    background: #27273e repeat;
    background-image: url(../picture/Слой\ 3.png);
    
}

.container--discount {
    width: 611px;
    display: block;
}

.discount__text {
    font-family: "gothempro", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    padding: 50px 0;

}

.discount__price {
    color: #ec1e79;
    font-weight: 700;
}