.discount {
    width: 100%;
    background: #27273e repeat;
    background-image: url(../picture/Слой\ 3.png);
    
}

.container--discount {
    width: 250px;
    display: block;
}

.discount__text {
    color: white;
    font-family: "gothempro", sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 18px;
    line-height: 34px;
    padding: 0;

}

.discount__price {
    color: #ec1e79;
    font-weight: 700;
}