
.main {
    width: 70%;
    display: flex; 
    flex-direction: column;  
    color: black;
    font-family: 'gothampro', sans-serif;
}

.wrapper--main .features {
    border: 2px solid #f5f5f5;
    padding: 30px;
    margin-bottom: 20px;
}

.wrapper--main .title {
    margin-bottom: 80px;
}

.title--tarif {
    font-family: "gothempro", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.features {
    margin-bottom: 80px;
}

.features__list {
    display: flex; 
    flex: 1;  
   
}

.features__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center; 
    align-items: center;
}

.features-icon {
    border-radius: 50%;
    width: 72px;    
    height: 72px;
    overflow: hidden;
    background: no-repeat #27273e center;
    background-image: url(../picture/spritesheet2.png);
} 

.features__icon--flower {
    background-position: -490px 5px;
}

.features__icon--star {
    background-position: -608px 4px;
}

.features__icon--paint {
    background-position: -548px 7px;
}

.feature___desc {
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.features__title {   
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 51.38px;
    letter-spacing: 2.88px;
    color: #212121;
    text-align: center;
}
  
    
.features__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    list-style: desc; 
   
}

.features__element:before {
    display: inline-block;
    content: "";
    background: #ef3a8a center;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 30px;
  
}

