.footer {
    width: 100%;
    background-color: #27273e; 
    color: #ffffff;
}

.footer-text {
    width: 25%;
    font-family: 'gothempro', sans-serif;
    font-weight: 300px;
    font-size: 14px;
}

.footer-text__link {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.logo--footer {
    display: flex;
    justify-content: center;
	align-items: center;
}



 
