.feedback {
    margin-bottom: 50px;
}

.form {
    margin: 0 auto;
    background: #f5f5f5;
    color: black;
    font-family: 'gothempro', sans-serif;
    padding: 50px 10%;
}   

.form-title {
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 20px;
}

.form__row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form__block {
    margin-right: 23px;
    flex: 1;
}

.form__block:last-child {
    margin-right: 0;
}

.form__block-title {
    color: #221f1f;
    font-size: 14px;
    font-weight: 300;
    line-height: 54px;
}

.form-field {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
}

.form-field::placeholder {
    color: 221f1f;
    padding-left: 10px;
}

.form__textarea {
    resize: none;
    min-width: 100px;
    min-height: 90px;
    overflow: hidden;
}

.form-field:focus {
    border: 2px solid #ec1e79;
}

.form__foto {
    width: 100%;
    margin-bottom: 15px;
}

.form__radio {
    display: none;
}

.form__radio-lbl {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}

.form__radio-lbl:last-child {
    margin-right: 0;
  }

.form__radio-custom {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ec1e79;
    position: relative;
}
  
.form__radio-custom:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: #ec1e79;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
} 

.form__radio:checked  +.form__radio-custom:after {
    opacity: 1;
}

.form__button {
    border-radius: 5px;
    background: #27273e;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 54px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding: 0px 20px;
   
    margin-right: 20px;
    transition: 0.7s;    
    cursor: pointer;
  
  
}