
.header {
    width: 100%;
    background-color: #27273e; 
    color: white;
}

.container .header {
    justify-content: space-between;
    align-items: baseline;
    min-height: 77px;
}

.logo {
    flex: 1;
    width: 99px;
    height: 51px; 
}

.header__logo{
    margin: 13px 19px;
}

.contacts {
    flex: 1;
    width: 198px;
    min-height: 38px;
    text-align: right;
}
