
.header {
    width: 100%;
    background-color: #27273e; 
    color: white;
    min-block-size: 77px;
    margin-bottom: 50px;
}

.container--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 30%;
}

.logo--header{
    margin: 20px 19px;
}

.contacts {
    width: 30%;
    min-height: 38px;
    text-align: right;
    
}

.contacts__phone {
    position: relative;
    font-family: "gothampro", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts__button {
   
    font-family: "gothampro", sans-serif;
    color: #ec1e79;
    opacity: 0.7;
    font-size: 14px;
    font-weight: 700;
    line-height: 54px;
    text-decoration: underline; 
    margin: -25px 0;
   
}

.contacts__button-hidden {
    color: #ec247d; 
    display: none;
    position: absolute;
    top: 20px;
    right: 0px;
    float: right;

}

.contacts__button:hover {
    color: #5dd1f8;
}

.contacts__button:hover + .contacts__button-hidden {
    display: block;

}

.contacts__schedule {
    position: relative;
}