
.header {
    width: 100%;
    background-color: #27273e; 
    color: white;
    min-block-size: 77px;
    margin-bottom: 45px;
}

.container--flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 20%;
}

.logo--header{
   padding: 10px 7px;
}

.contacts {
    width: 25%;
    padding: 10px 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-family: "gothampro", sans-serif;

    
}

.contacts__phone {
    position: relative;  
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 1s;
}

.contacts__phone:hover {
    text-decoration: underline;
}

.contacts__button {  
    color: #ec1e79;
    opacity: 0.7;
    font-size: 14px;
    font-weight: 700;
    line-height: 54px;
    text-decoration: underline; 
    margin: -25px 0;
    transition: 1s;
}

.contacts__button-hidden {
    min-width: 170px;
    color: #ec247d;
    background: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: none;
    position: absolute;
    top: 20px;
    right: 0px;
    float: right;
    transition: 2s;
}

.contacts__button:hover {
    color: #5dd1f8;
    
}

.contacts__button:hover + .contacts__button-hidden {
    display: block;
   
}

.contacts__schedule {
    position: relative;
    font-size: 14px;
    font-weight: 700;

}

.contacts__worktime {
    color: #ec1e79;
}

.contacts__break {
    color: black;
}