
.header {
    width: 100%;
    background-color: #27273e; 
    color: white;
    min-block-size: 77px;
    margin-bottom: 30px;
}

.container--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 99px;
}

.logo--header{
    margin: 15px 27px;
}

.contacts {
    width: 30%;
    min-height: 38px;
    text-align: right;
    font-family: "gothampro", sans-serif;

    
}

.contacts__phone {
    position: relative;
    
    color: white;
    text-decoration: none;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 1s;
}

.contacts__phone:hover {
    text-decoration: underline;
}

.contacts__button {  
  
    color: #ec1e79;
    opacity: 0.7;
    font-size: 14px;
    font-weight: 700;
    line-height: 54px;
    text-decoration: underline; 
    margin: -25px 0;
    transition: 1s;
}

.contacts__button-hidden {
    color: #ec247d; 
    background: white;
    border-radius: 5px;
    padding: 5px 10px;
    display: none;
    position: absolute;
    top: 20px;
    right: 0px;
    float: right;
    transition: 2s;
}

.contacts__button:hover {
    color: #5dd1f8;
    
}

.contacts__button:hover + .contacts__button-hidden {
    display: block;
   
}

.contacts__schedule {
    position: relative;
    font-size: 14px;
    font-weight: 700;

}

.contacts__worktime {
    color: #ec1e79;
}

.contacts__break {
    color: black;
}