
.header {
    width: 100%;
    background-color: #27273e; 
    color: white;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    width: 30%;
}

.logo--header{
    margin: 13px 19px;
}

.contacts {
    width: 30%;
    min-height: 38px;
    text-align: right;
}

.contacts__button {
    display: block;
    color: white; 
}

.contacts__button-hidden {
    display: none;
}

.contacts__button-hidden:active {
   
}