
.main {
    width: 77%;
    display: flex; 
    flex-direction: column;  
    color: black;
    font-family: 'gothampro', sans-serif;
}


.title {
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 49px;
    line-height: 38px;
}

.features {
    margin-bottom: 80px;
}

.features__list {
    display: flex;   
}

.features__item {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: center; 
    align-items: center;
}

.features-icon {
    border-radius: 50%;
    width: 72px;    
    height: 72px;
    overflow: hidden;
    background: no-repeat #27273e center;
} 

.features__icon--flower {
    background-image: url(../picture/flower.png);
}

.features__icon--star {
    background-image: url(../picture/mark-as-favorite-star.png); 
}

.features__icon--paint {
    background-image: url(../picture/painter-palette.png);
}

.feature___desc {
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.features__title {   
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 51.38px;
    letter-spacing: 2.88px;
    color: #212121;
    text-align: center;
}
  
    
.features__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    list-style: desc; 
   
}

.features__element:before {
    display: inline-block;
    content: "";
    background: #ef3a8a center;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-right: 30px;
  
}


.news__item {
    display: flex;
    border-bottom: 0.5px solid #f5f5f5;
    margin-bottom: 30px;
}


.news__item:last-child {
    border-bottom: 0.5px solid white;
    margin-bottom: 30px;
}

.news__description {
    width: 70%;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #656464;
    line-height: 21px;
}


.news__avatar {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
   margin-right: 20px;
}

.news__avatar-pic {
    width: 100%;
    height: 100%;
    display: block;
}

.news__date {
    color: #221f1f;
    font-size: 18px;
    margin-bottom: 10px;
}

.news__title {
    font-weight: 700;
}

.news__text {
    line-height: 30px;
}

