.nav {
  margin-bottom: 25px;
}

.nav__list {
  display: flex;
  line-clamp: 15px;
}

.nav__item {
  position: relative; 
  margin-right: 95px;
}

.nav__item:last-child {
  margin-bottom: 0;
}

.nav__link {
  font-family: "gothampro";
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  text-decoration: none;
  color: #ec1e79;
  padding-left: 35px;
  transition: 1s;
}  

.nav__link:hover {
  color: black;
 
}

.nav__link:before, .nav__link:after {
  content: "";
  width: 25px;
  height: 25px;
  margin-right: 10px;
  background-image: url(../picture/spritesheet.png);
  background-repeat: no-repeat;
  transition: 1s;
  position: absolute;
  top: 0;
  left: 0;
}

.nav__link-main:before {
  background-position: -65px -5px;
}

.nav__link-main:after {
  background-position: -92px -5px;
  opacity: 0;
}

.nav__link-feed:before {
  background-position: -5px -5px; 
}

.nav__link-feed:after {
  background-position: -35px -5px;
  opacity: 0;
}

.nav__link-wallet:before {
  background-position: -119px -5px;
 
}

.nav__link-wallet:after {
  background-position: -148px -5px;
  opacity: 0;
}

.nav__link:hover:after {
  opacity: 1;
}

.nav__item--active .nav__link {
  color: black;
}

.nav__item--active .nav__link:after {
  opacity: 1;
}





.nav--header .nav__link {
  color: white;
}  

.nav--header .nav__link:hover {
  color: #ec1e79;
 
}

.nav--header .nav__link:before, .nav--header .nav__link:after {
  background-image: url(../picture/spritesheet3.png);  
}

.nav--header .nav__link-main:before {
  background-position: -115px -15px;
}

.nav--header .nav__link-main:after {
  background-position: -115px -15px;
  opacity: 0;
}

.nav--header .nav__link-feed:before {
  background-position: -65px -15px; 
}

.nav--header .nav__link-feed:after {
  background-position: -15px -15px;
  opacity: 0;
}

.nav--header .nav__link-wallet:before {
  background-position: -211px -15px;
 
}

.nav--header .nav__link-wallet:after {
  background-position: -162px -15px;
  opacity: 0;
}

.nav--header .nav__link:hover:after {
  opacity: 1;
}

.nav--header .nav__item--active .nav__link {
  color: #ec1e79;
}

.nav--header .nav__item--active .nav__link:after {
  opacity: 1;
}