.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 21px;
}

.pagination_pages-item {
    display: inline;
}

.pagination_pages-item--active {
 
    background: #27273e;
    border-radius: 10%;
    padding: 5px 0 5px 10px;
}

.pagination_pages-item--active .pagination__link {
    color: white; 
}

.pagination__prev, 
.pagination__link,
.pagination__next {
    text-decoration: none;
    margin-right: 10px;
}

.pagination__link { 
    font-weight: bold;
    color: #221f1f;
}

.pagination__display {
    font-weight: normal;
    color: #656464;  
    margin-right: 10px;
}

.pagination__controls {
    display: flex;
    justify-content: space-around;
    }