.partners {
    width: 100%;
    border: 1px solid #f5f5f5; 
    margin-bottom: 10px;

}

.title--partners {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    padding: 25px 0;
}

.partners__list {
    display: flex;
    flex-direction: column;
    align-items: center; 
   
}

.partners__item {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}



.partners__item:nth-child(2) {
    order: 5;
} 

.partners__item:nth-child(3) {
    order: 9;
} 


.partners__item:nth-child(6), .partners__item:nth-child(5) {
    order: 12;
} 


.partners__logo {
    filter: grayscale(100%);
}

.partners__logo:hover {
    filter: none;
    transition: 1s;
}

