.partners {
    margin-bottom: 90px;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;  
}

.partners__item {
    max-width: 160px;
    max-height: 60px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.partners__logo {
    filter: grayscale(100%);
}

.partners__logo:hover {
    filter: none;
    transition: 1s;
}