.socials {
    width: 30%;
    margin-bottom: 15px;
   
    
}

.socials__title {
    font-family: 'gothampro', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 54px;
    margin-bottom: -10px;

}

.socials__list {
    display: flex;
}

.socials__item {
    justify-content: space-between;
    border-radius: 50%;
    width: 25px;    
    height: 25px;
    overflow: hidden;
    background: white no-repeat center;
    margin-right: 10px;
    background-image: url(../picture/spritesheet.png);
    transition: 1s;
    
    
} 

.socials__item--vk {
    background-position: -170px 4px;
}

.socials__item--fb {
    background-position: -189px 1px;
}

.socials__item--g {
    background-position: -210px 3px;
}

.socials__item--tw {
    background-position: -255px 3px;
}

.socials__item--mail {
    background-position: -233px 3px;
}

.socials__item:hover {
    background: #ec1e79 no-repeat center;
    background-image: url(../picture/spritesheet.png);
}

.socials__item--vk:hover {
    background-position: -170px 4px;
}

.socials__item--fb:hover {
    background-position: -189px 1px;
}

.socials__item--g:hover {
    background-position: -210px 3px;
}
.socials__item--tw:hover {
    background-position: -255px 3px;
}

.socials__item--mail:hover {
    background-position: -233px 3px;
}



