.socials {
    width: 30%;
    margin-bottom: 15px;
    
}

.socials__title {
    font-family: 'gothampro', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 54px;
    margin-bottom: -10px;

}

.socials__list {
    display: flex;
}

.socials__item {
    justify-content: space-between;
    border-radius: 50%;
    width: 25px;    
    height: 25px;
    overflow: hidden;
    background: white no-repeat center;
    margin-right: 10px;
} 

.socials__item--vk {
    background-image: url(/picture/vk.png);
}

.socials__item--fb {
    background-image: url(/picture/fb.png);
}

.socials__item--g {
    background-image: url(/picture/google.png);
}

.socials__item--tw {
    background-image: url(/picture/twitter.png);
}

.socials__item--mail {
    background-image: url(/picture/mail.png);
}