
.tarifs__list {
    display: flex;
    flex-wrap: wrap;  
    margin-left: -45px;
    margin-bottom: 20px;
    text-align: center;
}

.tarifs__item {
    display: flex;
    flex-direction: column;
    vertical-align: top;
    max-width: 260px; 
    margin-left: 25px;
    margin-bottom: 40px;

}

.tarifs__icon {
    width: 250px;
    height: 153px;
    margin: 0 auto;
    
    border-radius: 5%;
    overflow: hidden;
    
    position: relative;
    margin-bottom: 15px;
}

.tarifs__icon-pic {
    width: 100%;
    height: 100%;
}

.tarifs__icon-effect {
    width: 250px;
    height: 153px;
    margin: 0 auto;

    border-radius: 5%;
    background-color: #27273e;
    opacity: 0.85;

    font-family: "gothempro", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    color: #5dd1f8;

  
    padding: 30px 40px 34px 41px;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: 1s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
}



.tarifs__icon-effect:hover {
    opacity: 0;
}