.wrapper--tarifs .header {
    margin-bottom: 30px;
}

.tarifs {
    width: 100%;
}


.tarifs__list {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
    margin-left: 0;
    text-align: center;
}

.tarifs__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 31%;
    min-height: 450px;
}


.tarifs__icon {
    width: 273px;
    height: 165px;
    margin: 0 auto;
    border-radius: 2px;
    overflow: hidden; 
    position: relative;
    margin-bottom: 25px;
}

.tarifs__icon-pic {
    width: 100%;
    height: 100%;

}

.tarifs__icon-effect {
    width: 273px;
    height: 165px;
    margin: 0 auto;

    border-radius: 2px;
    background-color: #27273e;
    opacity: 0.85;

    font-family: "gothempro", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    color: #5dd1f8;

    padding: 30px 40px 34px 41px;
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: 1s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center; 
}



.tarifs__icon-effect:hover {
    opacity: 0;
}

.tarifs__text {
    font-family: "gothempro", sans-serif;
    font-size: 14px;
    font-weight: 300;
}